<%- include('../partials/header')  %> 
<div class="container">
    <div class="jumbotron m-4">
    <h1 class="display-4"> <%= user.firstName %>'s  Sky Chirp</h1>
    <p class="lead">Your new friend is but a chirp away.</p>
    <hr class="my-4">
  </div>
</div>

<%- include('../partials/footer')  %> 